name: Docker Image CI for GHCR
on: 
  push:
    branches:
      - main

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build and push the image
      run: |
          echo "${{ secrets.GH_PAH }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          echo "IMAGE=products" >> $GITHUB_ENV
          echo "tag=latest" >> $GITHUB_ENV  # corrected typo here
          docker build -t ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}/${{ env.IMAGE }}:${{ env.tag }} .
          docker push ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}/${{ env.IMAGE }}:${{ env.tag }}